.footerBlock {
    .firstBlock {
        padding: 109px 0 62px 0;
        background: #F8F8F8;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 80px;

        .logoWrapper {
            width: 274px;
            height: 54px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .logoWrapper img {
            width: 100%;
            height: 100%;
            @media (max-width:768px) {
                width: 90%;
                height: 90%;
            }
            @media (max-width:480px) {
                width: 70%;
                height: 70%;
            }
        }
        .footerMenuWrapper {
            display: flex;
            gap: 13px;
            @media (max-width:800px) {
              width: 100%;
              overflow: scroll;
            }

            .menuItem {
                padding: 10px 14px;
                font-size: 1.3rem;
                line-height: 2rem;

                @media (max-width:768px) {
                    font-size: 1rem;
                    line-height: 1.5rem;
                    padding: 8px 12px;
                }
            }
        }
        .iconWrapper {
            display: flex;
            gap: 25px;
        }
    }
    .secondBlock {
        height: 84px;
        background: #545454;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 1.3rem;
        line-height: 2rem;

        @media (max-width:800px) {
            font-size: 1rem;
            line-height: 1.5rem;
        }
        @media (max-width:480px) {
            font-size: 0.8rem;
            line-height: 1rem;
        }
        span {
            color: #FD6F00;
        }
    }
}