.titleBlock {
    margin: 0 auto;
    width: 932px;
    text-align: center;
    .title {
        font-weight: 600;
        font-size: 65px;
        line-height: 97.5px;
    }
    .subTitle {
        font-size: 21px;
    }
}